$break-small: 800px;
$break-smaller: 400px;
$borderColor: lightgrey;
$headerBar: #B3C9B2;
$navBar: #4B786D;
$fontStack: 'Poiret One','avenir', sans-serif;
$hoverColor: #313731;

* {
	box-sizing: border-box;
	font-family: $fontStack;
}
body{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
h1{
	background: $headerBar;
	font-size: 50px;
	margin: 0;
	padding: 10px;
	text-align: center;
}
nav {
	margin: 0;
	ul{
		li{
			width: 33.33%;
			float: left;
			font-size: 24px;
			padding: 10px;
			margin: 0 0 10px;
			text-align: center;
			background: $navBar;
			&:hover{
			background: $hoverColor;
			}
		}
	}
}
h2{
	font-size: 25px;
	border-bottom: 1px solid lightgrey;
	padding: 10px;
	margin: 10px;
	max-width: 500px;
}
h2 a{
	text-decoration: none;
	color: black;
}
footer{
	margin: 0;
	ul{
		li{
			width: 33.33%;
			float: left;
			font-size: 20px;
			padding: 10px;
			margin: 0 0 10px;
			text-align: center;
			background: $navBar;
			a{
				text-decoration: none;
				color: black;
			}
		}
	}
}





/*====================================================*/
/*Old styling*/
img {
	width: 300px;
	float: right;
}
.icon {
	width: 30px;
	float: left;
}
footer {
	background: $headerBar;
	border-top: 10px solid $borderColor;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}
